<div style="padding: 23px;">
	<div>
		<div style="float: right; width: auto;"><{$pagenav}></div>
	</div>
	<div style="padding-top: 9px;">
		<{foreach from=$themes item=theme key=themekey}>
			<div id="outline" class="outline" style="max-width: 23% !important; padding: 8px; margin: 9px; float: left; clear: none; display: block;">
				<div style="text-align: center;">
					<h1><{$theme.name}></h1>
					<img src="<{$theme.screenshot}>" style="width: auto; box-shadow: 3px 3px 4px #000112;" />
					<div>
						<div style="float:right;">
							<a href="<{$xoops_url}>/modules/resources/admin.php?op=themes&fct=confirm&key=<{$themekey}>"><img src="<{$xoops_url}>/modules/resources/images/download.png" /></a> 
						</div>
					</div>
				</div>
			</div>
		<{/foreach}>
	</div>
</div>